:root {
    --color-primary: #d9c407;
    --color-gray: #f8f8f8;
    --color-black: #333333;
    --color-dark: #222;
    --color-white: #ffffff;
    --color-danger: rgb(219, 136, 136);
    --color-transparent: rgba(0, 0, 0, 0);
    --color-success: rgb(149, 235, 156);
    font-size: 16px;
}

.toast {
    position: fixed;
    padding: 20px;
    right: 20px;
    bottom: 20px;
    background: var(--color-black);
    border: 2px solid var(--color-primary);
    color: var(--color-white);
}
.animated-bottom {
    animation: top 500ms ease-in-out;
}